.specialOffer{
    background-color: #FFF3E8;
    width: 1280px;
    margin: 70px auto 0;
    height: 327px;
    border-radius: 15px;
    background-image: url("/Group19.png");
    background-size: cover;
}
.info{
    width: 50%;
    padding: 43px 0 39px 15%;
}
.heading{
    font-size: 40px;
    font-weight: bold;
}
.description{
    font-size: 20px;
    font-weight: normal;
}
.btn{
    font-size: 24px;
    font-weight: semiBold;
    background: #FAB900;
    width: 245px;
    height: 66px;
    border-radius: 16px;
    border: none;
}